extends layouts/main-layout.pug

block content
    h1 #{docTitle}
    a(href="/")
        button &#8592; Back to Homepage
        // Documentation for 404.pug
        // Line 1 => use extends to import the layout to render with this file and this declaration MUST be on the FIRST line always
        // Line 3 => use Block here to inject the indented contents to the main-layout file dynamically
        // Line 7 => Comments should be only included with indentation after block hook is injected