<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <div class="nest">
                <input placeholder="Enter product name.." type="text" name="title" id="title"/>
                <input class="btn" type="submit" value="Add Product">
            </div>
        </div>
    </form>
</main>