<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>{{ docTitle }}</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="active" href="/">Shop</a>
                </li>
                <li class="main-header__item">
                    <a href="/admin/add-product">Add-Product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Block statement like for loop / if statements needs # and followed by if syntax inside interpolation and 
        beginning of the code block-->
        {{#if hasProducts}}
            <div class="grid">
                <!-- for loop statement uses #each and followed by array/object name we passed in here -->
                {{#each products}}
                    <article class="card product-item">
                        <header class="card__header">
                            <!-- properties of array/object can be accessed using 'this' keyword followed by the key name -->
                            <h1 class="product__title">{{ this.title }}</h1>
                        </header>
                        <div class="card__image">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                {{/each}}
                <!-- for loop statement closing syntax -->
            </div>
        <!-- else statement is part of the main if statement but within the code block, and dont need # to initiate -->
        {{else}}
            <h1>No products found!</h1>
        {{/if}}
        <!-- if statement closing syntax -->
    </main>
</body>
</html>